extends ./dashboard.jade

block content
	h1 Registro
	p Ingrese la información del solicitante
	form.form_type1#form_register(method="POST")
		section.form_section
			.form_group
				.form_item
					fieldset.form_button
						label DNI
						a(href="javascript:;", class="btn btn-search ladda-button", id="searchDNI", data-style="slide-down")
							i.icon_search
						input(id="txtDNI", name="txtDNI", type="text", placeholder="Ingrese su DNI", maxlength="8")
				.form_item(readonly="readonly")
					fieldset
						label NOMBRE COMPLETO
						input(id="txtName", name="txtName", type="text", placeholder="Ingrese su Nombre", readonly)
				.form_item(readonly="readonly")
					fieldset
						label DIRECCION
						input(id="txtAddress", name="txtAddress", type="text", placeholder="Ingrese su Dirección", readonly)
				.form_item
					fieldset
						label TELEFONO
						input(id="txtPhoneNumber", name="txtPhoneNumber", type="text", placeholder="Ingrese su Telefono", maxlength=11)
			.form_group
				.form_item
					fieldset.form_button
						label RUC
						a(href="javascript:;", class="btn btn-search ladda-button", id="searchRUC", data-style="slide-down")
							i.icon_search
						input(id="txtRUC", name="txtRUC", type="text", placeholder="Ingrese su RUC", maxlength="11")
				.form_item(readonly="readonly")
					fieldset
						label RAZON SOCIAL
						input(id="txtCompanyName", name="txtCompanyName", type="text", placeholder="Ingrese su Razón Social", readonly)
				.form_item(readonly="readonly")
					fieldset
						label DIRECCION
						input(id="txtCompanyAddress", name="txtCompanyAddress", type="text", placeholder="Ingrese su Dirección", readonly)
		section.form_section
			.form_group
				.form_item
					fieldset
						label Maquinaria Pesada 
						select#heavyMachinery
				.form_item(readonly="readonly")
					fieldset
						label COTIZACION
						input(id="txtCurrentPrice", type="text", placeholder="Cotización", readonly, data-perhour="")
			.form_group
				.form_item
					fieldset
						label FECHA INICIAL
						input(type="text", id="toDate", placeholder="Ingrese la Fecha Inicial")
				.form_item
					fieldset
						label FECHA FINAL
						input(type="text", id="fromDate", placeholder="Ingrese su Fecha Final")
		section.form_section
			.form_button
				a(href="javascript:;", id="btnAddMachinery", class="btn btn-add ladda-button left", data-style="slide-down") Agregar +
			.heavyMachineryItems
		section.form_section
			#calendar
		
		section.form_section.submit_button
			label.finalPriceBox
				| Precio Final S/. <span class="finalPriceHTML">0.00</span>
			input(type="hidden", name="finalPrice", value="0.00", id="finalPrice")
			.form_button
				button(type="submit", class="btn btn-save")	Guardar Solicitud