extends ./dashboard.jade

block content
	h1 Listado de Registros
	table#tables.display(cellspacing='0', width='100%')
		thead
			tr
				th Registro
				th Empresa
				th Responsable
				th Maquinarias
				th Fechas
				th Opciones
		tbody
			tr
				td RG5810
				td UPC
				td Fulano Melgano
				td 4
				td 15/05/2015 - 15/06/2015
				td
					a(href="javacript", class="btn") editar
			tr
				td RG5810
				td UPC
				td Fulano Melgano
				td 4
				td 15/05/2015 - 15/06/2015
				td
					a(href="javacript", class="btn") editar
			tr
				td RG5810
				td UPC
				td Fulano Melgano
				td 4
				td 15/05/2015 - 15/06/2015
				td
					a(href="javacript", class="btn") editar