/* ==== dashboard ==== */
$clrBackground = #333
$clrLetter = #fff
$heightHeader = 40px
header
  background $clrBackground
  display block
  height $heightHeader
  position relative
  width 100%
  .menu_header
    padding 0 10px
    position absolute
    right 0px
    top 0px
    text-align right
    width 40%
  .title
    color $clrLetter
    direction ltr
    font-size 1.2rem
    height $heightHeader
    line-height $heightHeader
    padding-left 10px
    width 40%
  li
    color $clrLetter
    display inline-block
    transition background 0.4s ease-in-out
    &:hover
      background darken($clrBackground, 90)
  a
    color $clrLetter
    height $heightHeader
    line-height $heightHeader
    padding 0 20px
section
  height 100%
  .options_container
    background lighten($clrBackground, 40)
    display inline-block
    height 100%
    padding-top 20px
    width 20%
    li
      color $clrLetter
      transition background 0.4s ease-in-out
      padding 0
      &:hover
        background lighten($clrBackground, 20)
      a
        color $clrLetter
        height $heightHeader
        line-height $heightHeader
        padding 0 20px
        margin 0
  .main_menu
    display inline
    float right
    height 94%
    width 80%
    padding 0px 15px
    overflow-y auto
    overflow-x hidden
.heavyMachineryItems
  display inline-block
  margin-top 15px
  width 100%
.heavyMachinerySelected
  background #f2f2f2
  border 1px solid #b2b2b2
  display inline-block
  margin-top -1px
  padding 7px 8px
  line-height 24px
  width 100%
.heavyMachineryName
  display inline-block
  float left
  font-weight bold
  width 40%
.heavyMachineryDate
  display inline-block
  width 40%
.heavyMachineryDelete
  background #E32
  border-radius 15px
  color #fff
  cursor pointer
  display inline-block
  float right
  height 25px
  line-height 25px
  text-align center
  transition all 0.3s ease-in-out 
  width 25px
  &:hover
    background darken(#E32, 10)
    box-shadow 0 0 5px 1px #e32
.finalPriceBox
  display inline-block
  font-size 1.3rem
  margin-top 10px
  width 100%
  