/*==== form ==== */
.form_type1
  font-size 0.9em
  input[type="text"]
  input[type="password"]  
    border 1px solid #888
    border-radius 5px
    padding 8px 16px
    margin-bottom 5px
  &.minimum_size
    width 150px
.form_container
  display block
  width 100%
  float left
  padding 0
  margin 0
.form_group
  display inline-block
  float left
  width 50%
.form_item
  fieldset
    margin-bottom -1px
    padding 5px 10px 2px 10px
  label
    color #666
    display block
    padding 1px 1px 0px 1px
    width 100%
    &.error
      color #CF3A3A
  input[type="text"]
    border 0px solid #fff
    color #666
    padding 3px 2px 0px 1px
  select
    background white
    border-radius 3px
    border 0
    color #666
    font-size 16px
    padding 2px 0px
    width 100%
  &[readonly="readonly"]
    fieldset
      background #eee
    input[type="text"]
      background #eee
  
.form_section
  width 100%
  display inline-block
  padding 5px 0 